.mercurius {
    &__container {
        display: flex;
        flex-flow: column;
        height: 100%;
        .content {
            flex-grow: 1;
            padding: 6px 10px 10px;
        }
    }
}