<mat-tab-group>
    <mat-tab label="Basic Watch Schedule">
        <div fxFlex fxLayout fxLayoutAlign="none center" [style.padding.px]="20" [style.paddingBottom.px]="0">
            <mat-form-field>
                <mat-label>Bid Schedule</mat-label>
                <mat-select>
                    <mat-option value="Area4BidSchedule2023-8thApril-(6 Bid Rounds)">
                        Area4BidSchedule2023-8thApril-(6 Bid Rounds)
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field [style.marginLeft.px]="40">
                <input matInput [matDatepicker]="picker" placeholder="Select date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-radio-group fxLayout="column" [style.marginLeft.px]="40">
                <mat-radio-button checked value="Daily" (change)="radioButtonChange($event)">
                    Daily
                </mat-radio-button>
                <mat-radio-button value="Weekly" (change)="radioButtonChange($event)">
                    Weekly
                </mat-radio-button>
            </mat-radio-group>
            <div fxFlex="grow"></div>
            <div fxLayout="column" fxLayoutAlign="end end" [style.minWidth.px]="200" [style.fontSize.px]="13" [style.marginLeft]="auto">
                <div fxLayoutAlign="center">
                    <span class="status--more"></span>
                    <span [style.marginLeft.px]="8" [style.marginRight.px]="24">More</span>
                    <span class="status--less"></span>
                    <span [style.marginLeft.px]="8">Less</span>
                </div>
                <p>Workfoce count-Request/Available</p>
            </div>
        </div>
        <button mat-button class="reset">
            <mat-icon>refresh</mat-icon>
            Reset All
        </button>
        <div fxFlex fxLayout="column" class="schedule-card" cdkDropListGroup>
            <div fxLayout="column" *ngIf="viewMode==='Daily'; else elseBlock">
                <div class="header">
                    <p>Shifts and Workforce Count</p>
                    <p [style.marginLeft.px]="16">January 2, 2023 Monday 18/18</p>
                </div>
                <div fxFlex *ngFor="let data of daily_data">
                    <div fxFlex fxLayoutAlign="center center" class="s-w-count">
                        <div class="schedule-card-info filled" [style.marginRight.px]="4"
                            [ngClass]="{'status1':getStatus(data.time)===1, 'status2':getStatus(data.time)===2}">
                            <p>{{data.time}}</p>
                            <p>({{data.duration}} hrs)</p>
                        </div>
                        <div class="schedule-card-info"
                            [ngClass]="{'status1':getStatus(data.time)===1, 'status2':getStatus(data.time)===2}">
                            {{ data.empinfo.length }} / {{ data.empinfo.length }}
                        </div>
                    </div>
                    <div class="schedule-card-container">
                        <div cdkDropList [cdkDropListData]="data.empinfo" class="schedule-card-item-list" cdkDropListSortingDisabled
                            (cdkDropListDropped)="drop($event)">
                            <div class="schedule-card-item"
                                [ngClass]="{'status1':getStatus(data.time)===1, 'status2':getStatus(data.time)===2}"
                                *ngFor="let item of data.empinfo" [style.marginRight.px]="6" cdkDrag>
                                {{item.empinitials}}
                                <mat-icon>gamepad</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #elseBlock>
                aaaa
            </ng-template>
        </div>
    </mat-tab>
    <mat-tab label="Posted Watch Schedule">
        <p>Posted Watch Schedule works!!!</p>
    </mat-tab>
</mat-tab-group>